<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Approver</title>
</head>
<body>
    <form action="{{ url_for('transaction_bp.add_approver', transaction_id=transaction_id, _external=True) }}" method="POST">
        <label for="new_approver_id">Select new approver:</label>
        <select name="new_approver_id" id="new_approver_id">
            {% for approver in approvers %}
                <option value="{{ approver.approverId }}">{{ approver.approverId }} - {{ approver.email }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Approver</button>
    </form>
</body>
</html>
