<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval Reminder</title>
</head>
<body>
    <p>You have a pending approval request.</p>
    <p>Transaction ID: {{ transaction_id }}</p>
    <p>Process Name: {{ process_name }}</p>
    <p>Process Description: {{ process_description }}</p>
    <p>Please approve or reject the request using the buttons below:</p>
    <a href="{{ approve_url }}"><button style="background-color: green;">Approve</button></a>
    <a href="{{ reject_url }}"><button style="background-color: red;">Reject</button></a>
    <a href="{{ changes_url }}"><button style="background-color: orange;">Request Changes</button></a>
    <a href="{{ change_approver_url }}"><button style="background-color: blue;">Change Approver</button></a>
    <a href="{{ add_approver_url }}"><button style="background-color: purple;">Add Approver</button></a>
</body>
</html>
