<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Manager</title>
</head>
<body>
    <form action="/api/transactions/{{ transaction_id }}/add_manager" method="post">
        <input type="hidden" name="current_manager_name" value="{{ manager_name }}">
        <label for="new_manager_id">Select new manager:</label>
        <select name="new_manager_id" id="new_manager_id">
            {% for manager in managers %}
                <option value="{{ manager.manager_id }}">{{ manager.manager_id }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
